text {
  fill: #fff;
  pointer-events: none;
  font: 12px Helvetica, Arial, sans-serif;
  stroke-width: 0;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.node {
  stroke: #888;
  stroke-width: 1;
  opacity: 1;
  cursor: pointer;
}

.node-selection .node {
  cursor: crosshair !important;
}

.node-invalid-selection .node {
  cursor: not-allowed !important;
}

.node circle {
  fill: #f4e7c0;
}

.node circle.manager {
  fill: #111;
  stroke: #eee;
}

.node rect {
  stroke-width: 0;
  fill: #1a1b1d;
}

.node text {
  font: 16px monospace;
}

.selected circle {
  stroke: white;
  stroke-width: 3;
}

.ovsbridge circle, .bridge circle {
  fill: #a6dfcc;
}

.ovsport circle, .port circle, .bond circle {
  fill: #fdd0a2;
}

circle.highlighted  {
  fill: rgb(255, 230, 48);
  stroke: rgb(255, 251, 104);
  stroke-width: 3;
}

circle.emphasized  {
  fill: rgb(25, 230, 48);
  stroke: rgb(25, 251, 104);
  stroke-width: 3;
}

.down circle {
  fill: #cf5c67;
}

.link-wraps {
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 30;
}

.link {
  stroke: #000;
  stroke-width: 1.5;
}

.real-edge {
  cursor: pointer;
}

.real-edge-wrap {
  cursor: pointer;
}

.links path.ownership {
  /*display: none;*/
  opacity: 0.2;
}

.links path.veth {
  stroke-dasharray: 5,5;
}

.links path.mirroring {
  stroke: #444;
  stroke-dasharray: 2,5;
}

.links path.fabric {
  stroke: #eee;
  stroke-width: 2;
}

.links path.lldp {
  stroke: #eee;
  stroke-width: 2;
}

.links path.k8s {
  stroke: rgb(33, 97, 140);
  stroke-width: 1.5;
  opacity: 0.8;
}

.links path.istio {
  stroke: rgb(0, 221, 221);
  stroke-width: 1.5;
  opacity: 0.8;
}

.group {
  fill: #3c4145;
  stroke: #3c4145;
  stroke-linejoin: round;
}

.groups .netns {
  fill: #709faf;
  stroke: #709faf;
}

.groups .ovsbridge {
  fill: #bbfda0;
  stroke: #bbfda0;
}

.groups .fabric {
  fill: #FAC24D;
  stroke: #FAC24D;
}

.groups .lldp {
  fill: #FAC24D;
  stroke: #FAC24D;
}

text.link-label {
  font-size: 18px;
  text-anchor: middle;
  stroke-linecap: butt;
  stroke: #eee;
  stroke-linejoin: miter;
  paint-order: stroke;
  fill: #000;
  stroke-width: 3px;
  font-weight: bold;
}

path.link-label-alert {
  stroke: Tomato;
}

path.link-label-warning {
  stroke: Yellow;
}

path.link-label-active {
  stroke: YellowGreen;
}

textPath.link-label-alert {
  stroke: #000;
  fill: Tomato;
}

textPath.link-label-warning {
  stroke: #000;
  fill: Yellow;
}

textPath.link-label-active {
  stroke: #000;
  fill: YellowGreen;
}
