body {
  background-color: #f7f7f7;
}

label {
  color: #000;
}

.mode {
  color: #337ab7;
}

.topology-d3 {
    background-color: #eee;
}

.panel {
  background-color: #eee;
}

.panel h1 a, .panel h1 a:hover {
  color: #000;
}

.panel .bg-warning {
  background-color: #ccc;
}

.panel-actions {
  background-color: #eee;
}

.sub-panel {
  background-color: #ccc;
}

.capture-item dd.query, .injector-item dd.query {
  background: #ccc;
}

.capture-action, .injector-action {
  color: black !important;
}

.bootstrap-switch .bootstrap-switch-label {
  background: #fff;
}

.bootstrap-switch-label {
  color: black;
}

.flow-ops-panel .tab-content {
  color : black;
  background-color: #eee;
}


.flow-ops-panel .nav {
  border-bottom: 1px solid #f7f7f7;
}

.flow-ops-panel .nav>li>a {
  color : #444;
}

.flow-ops-panel .nav-pills > li > a {
  background-color: #eee;
}

.flow-ops-panel .nav-pills>li.active>a, .flow-ops-panel .nav-pills>li.active>a:focus, .flow-ops-panel .nav-pills>li.active>a:hover {
  background-color: #eee;
  color: #000;
}

.dynamic-table {
  border: 2px solid #888;
}

.dynamic-table .dynamic-table-actions {
  background: #999;
}

.dynamic-table thead {
  background: #eee;
}

.dynamic-table tbody {
  background: #ccc;
}

.dynamic-table tbody tr.flow-row:hover {
  background: #bbb;
}

.dynamic-table tbody tr.flow-detail-row {
  background: #ddd;
}

.object-value.string  {
  color: #222;
}

.object-value.number {
  color: blue;
}

#metadata-panel .object-key-value a, #metadata-panel .object-key-value a:focus, #metadata-panel .object-key-value a:hover  {
  color: #000;
}

.object-key-value.application .object-value, .object-key-value.a .object-value, .object-key-value.b .object-value {
  color: #003869;
}

.dynamic-table .flow-row.flow-detail {
  background: #8e8e8e;
}

#navbar {
  background-color: #f7f7f7;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #f7f7f7;
}

.navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #eee !important;
}

.flow-ops-panel {
  background-color: #eee;
  border-radius: 4px;
}

.sidebar, .status {
  color: #000;
}

.topology-controls .btn-primary {
  background-color: #337ab7;
}

.topology-controls .btn {
  border-color: #337ab7;
}

.flow-ops-panel .nav-pills > li {
  background-color: #ddd;
}