#topology-options-panel {
  background: #969ea09c;
}

#topology-options .trigger {
  background-color: rgba(77, 124, 138, 0.3);
}

#topology-options .trigger button {
  background-color: rgba(77, 124, 138, 0);
}

#topology-options .trigger button span {
    color: #fff;
}

.panel-actions .btn {
  background-color: #eee;
  color: #000;
}