[Unit]
Description=Skydive analyzer
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/skydive analyzer --conf /etc/skydive/skydive.yml

[Install]
WantedBy=multi-user.target
