[Unit]
Description=Skydive agent
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/skydive agent --conf /etc/skydive/skydive.yaml

[Install]
WantedBy=multi-user.target
