vendor/github.com/
vendor/golang.org/
vendor/google.golang.org/
vendor/gopkg.in/
vendor/go.uber.org/
vendor/k8s.io/
contrib/packaging/rpm/*.tar.gz
flow/*.pb.go
statics/bindata.go
filters/filters.pb.go
http/wsstructmessage.pb.go
*_easyjson.go
contrib/vagrant/.vagrant/
contrib/dev/.vagrant/
contrib/snort/snortSkydive
contrib/docker/skydive.*
skydive.yml
probe/ebpf/flow.o
js/api.js
js/browser.js
js/node_modules/
statics/js/bundle.js
.idea
