vendor/github.com/
vendor/golang.org/
vendor/google.golang.org/
vendor/gopkg.in/
contrib/packaging/rpm/*.tar.gz
flow/*.pb.go
statics/bindata.go
contrib/vagrant/.vagrant/
.idea
contrib/snort/snortSkydive
skydive.yml
