vendor/github.com/
vendor/golang.org/
vendor/google.golang.org/
vendor/gopkg.in/
vendor/go.uber.org/
vendor/k8s.io/
contrib/packaging/rpm/*.tar.gz
contrib/vagrant/.vagrant/
contrib/dev/.vagrant/
contrib/snort/snortSkydive
contrib/docker/skydive.*
skydive.yml
ebpf/flow.o
ebpf/flow-gre.o
js/node_modules/
.idea
lint.json
go.sum
