language: go
go_import_path: github.com/redhat-cip/skydive

before_install:
    - go get github.com/axw/gocov/gocov
    - go get github.com/mattn/goveralls
    - go get golang.org/x/tools/cmd/cover

script:
    - make install
    - ./coverage.sh --coveralls
