html, body {
  width:100%;
  height:100%;
}

body {
  margin: auto;
  padding-top: 50px;
  background-color: #333;
}

#app {
  height: 100%;
}

select {
  color: #111;
}

label {
  color: #ffffff;
}

.mode {
  color: white;
  font-size: 0.6em;
  vertical-align: super;
}

.topology, .conversation, .discovery {
  width: 100%;
  height: 100%;
}

.topology-d3, .conversation-d3, .discovery-d3 {
  width: 100%;
  text-align: center;
  outline: none;
}

.topology-d3 {
  height: 99%;
  overflow: hidden;
}

.node-selection {
  cursor: crosshair;
}

.row text, .column text {
  font: 12px Helvetica, Arial, sans-serif;
  fill: #eee;
}

.row text.active, .column text.active{
  fill: red;
}

.row line, .column line {
  stroke: #fff;
}

.pane-label {
  position: absolute;
  z-index: 99;
  padding: 0;
  font-size: 80%;
  opacity: .4;
  right: 15px;
  bottom: 15px;
  margin: 0;
}

.cont {
  width:100%;
  height: 100%
}

.content {
  padding-left: 0px;
  padding-right: 0px;
  overflow: auto;
}

.info {
  border-left: 5px #222 solid;
  color: #fff;
  padding-top: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-toolbar {
  background-color: #111;
  height: 65px;
  padding-top: 28px;
}

.main-toolbar .tooltip-inner {
  background-color: #333;
}

.fill {
  height: 100%;
}

.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  font-size: 0.1px;
}

.ui-resizable-e {
  right: 0px;
}

.left-cont {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-panel {
  border-radius: 5px;
  background-color: #222;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-panel h1 {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
}

.left-panel > h1:first-child {
  margin-top: 0px;
}

.sub-left-panel {
  border-radius: 5px;
  background-color: #111;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.node-time {
  background: #529DE1;
}

ul.capture-list {
  list-style-type: none;
  padding: 0px;
}

li.capture-item {
  padding: 0px;
  padding-bottom: 10px;
}

.capture-item dl {
  margin-bottom: 0px;
}

.capture-item dt {
  width: 60px;
}

.capture-item dd {
  margin-left: 70px;
  margin-bottom: 5px;
}

.capture-item dd.query {
  font-family: monospace;
  font-size: 11px;
  background: #333;
  border-radius: 3px;
  word-break: break-all;
  cursor: pointer;
}

.capture-title {
  font-weight: bold;
  padding-bottom: 5px;
}

.capture-action {
  float: right;
  cursor: pointer;
  font-size: 1.2em;
  font-style: normal;
  color: white !important;
  padding-left: 10px;
}

.capture-delete {
  color: #a94442 !important;
}

.inject-target {
  margin-bottom: 5px;
}

.title-left-panel {
  font-size: 1.2em;
  padding-bottom: 5px;
  color: #fff;
}

.bootstrap-switch {
  color: black;
}

.bootstrap-switch .bootstrap-switch-label {
  background: #333;
}

.bootstrap-switch-skydive-on {
  background-color: rgb(199, 233, 192);
}

.bootstrap-switch-skydive-off {
  background-color: rgb(253, 208, 162);
}

.bootstrap-switch-label {
  color: white;
}

circle.manager {
  opacity: 0.9;
  fill: #111;
  stroke: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin h2 {
  color: white;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#sequence text {
  font-weight: 600;
  fill: #fff;
}

.form-control + .fa-crosshairs {
  color: black;
  font-size: 1.3em;
  left: 0;
}

.form-control:focus + .fa-crosshairs {
  color: #66afe9;
}

.has-left-icon{
  /*Left padding 20px in this case, but it could be different due to other settings - for example in my project it was 25 pixels*/
  padding-left: 30px !important;
  padding-right: 10px !important;
}

.button-wrapper .btn {
    margin:2px;
}

.topology-controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 10px;
}

.flow-ops-panel {
  margin-top: 10px;
}

.flow-ops-panel .tab-content {
  color : white;
  background-color: #222;
  border-radius: 5px;
  border-top-left-radius: 0px;
}

.flow-ops-panel .nav>li>a {
  color : white;
}

.flow-ops-panel .nav-pills > li > a {
  background-color: #111;
  border-radius: 0;
}

.flow-ops-panel .nav-pills>li.active>a, .flow-ops-panel .nav-pills>li.active>a:focus, .flow-ops-panel .nav-pills>li.active>a:hover {
  background-color: #222;
}

.flow-ops-panel .left-cont {
  margin-top: 0px;
}

.dynamic-table {
  border-radius: 5px;
  border: 2px solid #666;
}

.dynamic-table .dynamic-table-wrapper {
  overflow-x: auto;
}

.dynamic-table table {
  font-size: small;
  border: hidden;
  margin-bottom: 0px;
}

.dynamic-table .dynamic-table-actions {
  background: #666;
  color: black;
  padding: 5px 3px 3px 3px;
}

.dynamic-table .dynamic-table-actions .pull-right {
  margin-left: 3px;
}

.dynamic-table td, .dynamic-table thead th {
  border-color: #666 !important;
}

.dynamic-table thead {
  background: #111;
}

.dynamic-table thead th:hover {
  cursor: pointer;
}

.dynamic-table tbody {
  background: #333;
}

.dynamic-table tbody tr.flow-row:hover {
  cursor: pointer;
  background: #444;
}

.dynamic-table tbody tr.flow-detail-row {
  background: #333;
}

.dynamic-table .flow-row.flow-detail {
  background: #2e2e2e;
  font-weight: bold;
}

.filter-selector .label {
  margin-right: 3px;
}

.filter-form {
  min-width: 292px;
  padding-left: 7px;
}

.filter-form input {
  width: 120px !important;
}

.filter-form div {
  display: inline-block;
}

ul.dropdown-menu .fa.pull-right {
  line-height: 1.8;
}

.object-key {
  font-weight: bold;
}

.object-value.string  {
  color: #ccc;
}

.object-value.number {
  color: yellow;
}

.object-key-value.application .object-value,
.object-key-value.a .object-value,
.object-key-value.b .object-value {
  color: #47AAFF;
}

.object-sub-detail {
  margin-top: 5px;
  margin-bottom: 5px;
}

.object-sub-detail .object-detail {
  margin-left: 20px;
}

.slide-enter-active {
  transition: all .2s ease;
}
.slide-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(300px);
  opacity: 0;
}

.slider {
  padding: 0px 10px;
  color: white;
  position: absolute;
  left: 20px;
  top: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.slider input {
  width: 400px;
  display: inline-block;
  margin-right: 10px;
  background: transparent;
}

.slider span {
  color: white;
  font-weight: bold;
  line-height: 32px;
}
