html, body {
  width:100%;
  height:100%;
}

body {
  margin: auto;
  padding-top: 50px;
  background-color: #1b1e23;
}

.dark input, .dark textarea, .dark input.form-control[readonly],
.dark select, .dark select[disabled], .dark textarea[readonly], .dark textarea[disabled] {
  background-color: #1b1e23;
  border-radius: 0;
  border: none;
  color: #cacaca;
}

.form-signin-fields {
  margin-bottom: 15px;
}

.dark .form-signin-fields input {
  background-color: #131519;
}

.workflow-abstract {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
}

.workflow-description h1 {
  font-size: 15px !important;
}

.workflow-description h2 {
  font-size: 14px !important;
}

.workflow-description h3 {
  font-size: 13px !important;
}

.workflow-description h4 {
  font-size: 12px !important;
}

.workflow-description h5 {
  font-size: 11px !important;
}

select:active, select:hover {
  outline: none
}

.dark .form-control + .fa-crosshairs {
  color: #fff;
}

.dark .advanced-options {
  color: #0a75b9;
  font-size: 14px;
}

.dark .form-control:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-menu {
  background-color:#141419;
}

.dark .input-group-addon {
  background-color: #1b1e23;
}

.input-group-addon {
  color: white;
  border: none;
  text-align: left;
  border-radius: 0;
}

.input-group {
  border-spacing: 1px;
}

.inject-label, .inject-label {
  width: 60px;
}

.capture-form .pull-left {
  padding-right: 15px;
}

.navbar .container {
  width: 100%;
}

.navbar-inverse {
  background-color: #1b1e23;
  border-color: #1b1e23;
}

.navbar-inverse .navbar-brand {
  color: #659cad;
  padding-right: 50px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #292e34;
}

.navbar .container {
  padding-right: 15px;
  padding-left: 30px;
  margin-right: 0;
  margin-left: 0;
}

.navbar-fixed-top {
  border-width: 0;
}

#app {
  height: 100%;
}

select {
  color: #111;
}

label {
  color: #ffffff;
}

.mode {
  color: white;
  font-size: 0.8em;
  padding-left: 26px;
}

.topology{
  width: 100%;
  height: 100%;
}

.topology-d3 {
  width: 100%;
  text-align: center;
  outline: none;
  background-color: #292e34;
  border-radius: 4px;
}

.topology-d3 {
  height: 99%;
  overflow: hidden;
}

.node-selection {
  cursor: crosshair;
}

.row text, .column text {
  font: 12px Helvetica, Arial, sans-serif;
  fill: #eee;
}

.row text.active, .column text.active{
  fill: red;
}

.row line, .column line {
  stroke: #fff;
}

.panel .description {
  float: right;
  font-style: italic;
  font-weight: normal;
  padding-right: 10px;
  font-size: 12px;
}

.panel .btn, .button-holder .btn {
  border-radius: 24px;
  padding: 10px 20px;
  outline: none !important;
}

.panel-actions .btn {
  background-color: #292e34;
  padding: 1px 5px;
  border-radius: 3px;
  color: #fff;
  border: 0;
  font-size: 16px;
}

.cont {
  width:100%;
  height: 100%
}

.content {
  padding-left: 0px;
  padding-right: 0px;
  overflow: auto;
}

.sidebar, .status {
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.statustab {
  margin-left: 150px;
  margin-right: 150px;
  border-left: 0px;
}

.fill {
  height: 100%;
}

.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  font-size: 0.1px;
}

.ui-resizable-e {
  right: 0px;  
  width: 20px;
}

.left-cont {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel {
  border-radius: 4px;
  background-color: #292e34;
  margin-top: 10px;
  margin-bottom: 0px;
  border: 0;
}

.panel-content {
  padding: 15px;
}

.panel-content h1 {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
}

.panel-content .closed {
  border: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.panel-content h1:first-child {
  margin-top: 0px;
}

.panel-content h2 {
  font-size: 1.0em;
  font-weight: bold;
  margin-bottom: 5px;
}

.panel-content .bg-warning {
  background-color: #292e34;
}

.panel-content .text-warning {
  color: #fff;
}

.panel-actions {
  text-align: right;
  background-color: #292e34;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.sub-panel {
  border-radius: 5px;
  background-color: #131519;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.collapse-header {
  cursor: pointer;
}

.collapse-header:hover {
  color: orange;
}

.node-time {
  background: #529DE1;
}

ul.capture-list, ul.injector-list, ul.alert-list, ul.rule-list {
  list-style-type: none;
  padding: 0px;
}

li.capture-item, li.injector-item, li.alert-item, li.rule-item {
  padding: 0px;
  padding-bottom: 10px;
}

.capture-item dl, .injector-item dl, .alert-item dl, .rule-item dl {
  margin-bottom: 0px;
}

.capture-item dt, .injector-item dt, .alert-item dt, .rule-item dt {
  width: 100px;
}

.capture-item dd, .injector-item dd, .alert-item dd, .rule-item dd {
  margin-left: 110px;
  margin-bottom: 5px;
}

.capture-item dd.query, .injector-item dd.query {
  font-family: monospace;
  font-size: 11px;
  background: #333;
  border-radius: 3px;
  word-break: break-all;
  cursor: pointer;
}

.capture-title, .injector-title, .alert-title, .rule-title {
  font-weight: bold;
  padding-bottom: 5px;
}

.capture-action, .injector-action, .alert-action, .rule-action {
  float: right;
  cursor: pointer;
  font-size: 1.2em;
  font-style: normal;
  color: white !important;
  padding-left: 10px;
}

.capture-delete, .injector-delete, .alert-delete, .rule-delete {
  color: #a94442 !important;
}

.capture-warning {
  color: #ffa500 !important;
}

.inject-target {
  margin-bottom: 5px;
}

.bootstrap-switch {
  color: black;
}

.bootstrap-switch .bootstrap-switch-label {
  background: #333;
}

.bootstrap-switch-skydive-on {
  background-color: rgb(199, 233, 192);
}

.bootstrap-switch-skydive-off {
  background-color: rgb(253, 208, 162);
}

.bootstrap-switch-label {
  color: white;
}

circle.manager {
  opacity: 0.9;
  fill: #111;
  stroke: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin h2 {
  color: white;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#sequence text {
  font-weight: 600;
  fill: #fff;
}

.form-control + .fa-crosshairs {
  color: black;
  font-size: 1.3em;
  left: 0;
}

.form-control:focus + .fa-crosshairs {
  color: #66afe9;
}

.has-left-icon{
  /*Left padding 20px in this case, but it could be different due to other settings - for example in my project it was 25 pixels*/
  padding-left: 30px !important;
  padding-right: 10px !important;
}

.button-wrapper .btn {
    margin:2px;
}

.topology-controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 4px;
  padding: 10px;
}

.topology-controls .btn {
  border-color: #141519;
  border-radius: 4px;
  padding: 8px 16px;
}

.topology-controls .btn-primary {
    background-color: #141519;
}

.flow-ops-panel {
  background-color: #292e34;
  border-radius: 4px;
}

.flow-ops-panel .tab-content {
  color : white;
  border-radius: 5px;
  border-top-left-radius: 0px;
}

.flow-ops-panel .nav {
  border-bottom: 1px solid #1b1e23;
}

.flow-ops-panel .nav>li>a {
  color : #84878c;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #292e34;
}

.flow-ops-panel .nav-pills > li > a, .flow-ops-panel .nav-pills > li {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.flow-ops-panel .nav-pills .active > a {
  color: #fff;
}

.flow-ops-panel .nav-pills > li {
  background-color: #292e34; 
}

.flow-ops-panel .nav-pills>li.active>a, .flow-ops-panel .nav-pills>li.active>a:focus,
.flow-ops-panel .nav-pills>li.active>a:hover {
  background-color: #292e34;
  border-bottom: 2px solid #347ab6;
}

.flow-ops-panel .left-cont {
  margin-top: 0px;
}

.dynamic-table .fa-cog, .dynamic-table .btn, .dynamic-table .btn[active], .dynamic-table .btn[focus] {
  border: none;
  font-size: 16px;
  outline: none !important;
  padding: 1px 5px;
  display: inline-block;
  border-radius: 0;
}

.dark .dynamic-table .fa-cog, .dark .dynamic-table .btn, .dark .dynamic-table .btn[active], .dark .dynamic-table .btn[focus] {
  color: white !important;
  background-color: #1b1e23 !important;
}

.dynamic-table .dynamic-table-wrapper {
  overflow-x: auto;
}

.dynamic-table table {
  border: hidden;
  margin-bottom: 0px;
}

.dynamic-table td {
  padding: 7px;
}

.dynamic-table .dynamic-table-actions {
  background: #292e34;
  color: white;
  padding: 3px 1px 1px 0px;
  display: inline-flex;
}

.dynmic-table-actions-item {
  display: inline-block;
  margin-right: 1px;
}

.dark .dynmic-table-actions-item {
  background: #1b1e23;
}

.dynamic-table .dynamic-table-actions .pull-right {
  margin-left: 3px;
}

.dynamic-table td, .dynamic-table thead th {
  border-color: #292e34 !important;
}

.dynamic-table thead {
  background: #171b1e;
}

.dynamic-table thead th:hover {
  cursor: pointer;
}

.dynamic-table tbody {
  background: #1b1e23;
}

.dynamic-table tbody tr.flow-row:hover {
  cursor: pointer;
  background: #292e34;
}

.dynamic-table tbody tr.flow-detail-row {
  background: #171b1e;
}

.dynamic-table .flow-row.flow-detail {
  background: #171b1e;
  font-weight: bold;
}

.filter-selector .label {
  margin-right: 3px;
}

.filter-form {
  min-width: 292px;
  padding-left: 7px;
}

.filter-form input {
  width: 120px !important;
}

.filter-form div {
  display: inline-block;
}

ul.dropdown-menu .fa.pull-right {
  line-height: 1.8;
}

.object-key {
  font-weight: bold;
}

.object-value.string  {
  color: #ccc;
}

.object-value.number {
  color: yellow;
}

.object-value.string:hover  {
  color: #ffa500;
}

.object-value.number:hover {
  color: #ffa500;
}

.object-key-value.application .object-value,
.object-key-value.a .object-value,
.object-key-value.b .object-value {
  color: #47AAFF;
}

.object-key-value {
 line-height:21px;
}

.object-sub-detail {
  margin-top: 5px;
  margin-bottom: 5px;
}

.object-key-value.container {
  padding-left: 0px;
  width: 100%;
}

.object-sub-detail .object-detail {
  margin-left: 20px;
}

.object-sub-detail .object-detail:hover {
  color: #ffa500;
}

.raw-packet-link {
  color: skyblue;
  cursor: pointer;
}

.rules-detail .inner-table td {
  padding: 0;
}

.rules-detail .port-link {
  color: skyblue;
  cursor: pointer;
}

.rules-detail .table-link {
  padding-left: 5px;
  color: skyblue;
  cursor: pointer;
}

.rules-detail .filters-column {
  width: 45%;
}

.rules-detail .summary-column {
  width: 20%;
}

.rules-detail .actions-column {
  width: 35%;
}

.rules-detail .red {
  color: #c00;
}

.rules-detail .blue {
  color: #08c;
}

.rules-detail .nav-pills>li.active>a, .rules-detail .nav-pills>li.active>a:focus, .rules-detail .nav-pills>li.active>a:hover {
  background-color: #333;
}

.rules-detail .navbar-brand {
  font-size: 16px;
  line-height: 16px;
}

.expand-icon-stack .icon-main {
  font-size: 15px;
}

.expand-icon-stack .icon-sub {
  font-size: 11px;
}

#metadata-panel .object-key-value a, #metadata-panel .object-key-value a:focus, #metadata-panel .object-key-value a:hover  {
  color: #fff;
}

.collapse-title {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.form-preference{
  width: 100%;
  height: 100%;
  padding: 15px;
  margin: 0 auto;
  background-color: #292e34;
}

.preference-field {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.preference-field input, .preference-field select {
  background-color: #1b1e23;
  color: #eee;
  border: none;
}

.preference-field label {
  color: #ccc;
  margin-bottom: 10px;
}

.form-preference h2 {
  color: white;
  display: flex;
  justify-content: center;
}

.filter-components {
  margin-top: 10px;
  width: 100%;
}

hr {
  border-color: #111;
}

.filter-title {
  width: 65px;
  background-color: #111;
  border: none;
}

.fa-trash-o {
  color: #c00;
}

.btn-filter, .btn-filter:active, .btn-filter:focus, .btn-filter:hover {
  padding: 7px 12px !important;
  border-radius: 0 !important;
  margin-left: 1px !important;
}

.dark .btn-filter, .dark .btn-filter:active, .dark .btn-filter:focus, .dark .btn-filter:hover {
  background-color: #1b1e23 !important;
}

.spl-btn {
  color: #347ab6;
  padding: 0;
  font-weight: bold;
}

.dark .spl-btn {
  background-color: #292e34;
}

.preference-field button {
  border: none;
}

.preference-field button:focus, .preference-field button:hover {
  outline: 0;
  color: #347ab6;
  font-weight: bold;
}

.dark .preference-field button:focus, .dark .preference-field button:hover {
  background-color: #292e34;
}

.button-holder {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.button-holder button {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-round-xs {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-group-pref {
  margin-right: 25px;
}

.help-text {
  cursor: help;
}

.input-xs {
  height: 22px;
  padding: 5px;
}

.bool-value-true {
  color: #00de00;
}

.bool-value-false {
  color: #ff2020;
}

.radio-inline {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
  margin-left: 0;
}

.radio-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-inline .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #b1b1b1;
  border-radius: 50%;
}

.dark .radio-inline .checkmark {
  background-color: #eee;
}

.radio-inline:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-inline input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-inline input:checked ~ .checkmark:after {
  display: block;
}

.radio-inline .checkmark:after {
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.form-inline {
  display: flex;
}

.form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-check-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 22px;
  background-color: #b1b1b1;
}

.dark .form-check-label .checkmark {
  background-color: #eee;
}

.form-check-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.form-check-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

.form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.form-check-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.copy-clipboard {
  cursor: copy;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 8px);
  padding: .375rem 1.75rem .375rem .75rem;
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
  line-height: 1.5;
  color: #586169;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
      background-size: auto auto;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
