- name: Display all variables/facts known for a host
  debug:
    var: hostvars[inventory_hostname]

- name: Set analyzers list
  set_fact:
    analyzers: >-
      {% for i in groups['analyzers'] -%}
        {%- if hostvars[i]['skydive_listen_ip'] is defined and hostvars[i]['skydive_listen_ip'] != "0.0.0.0" -%}
          {{ hostvars[i]['skydive_listen_ip'] }}:{{ skydive_analyzer_port }}
        {%- elif skydive_nic is defined -%}
          {{ hostvars[i][skydive_nic].ipv4.address }}:{{ skydive_analyzer_port }}
        {%- else -%}
          {{ hostvars[i].ansible_default_ipv4.address }}:{{ skydive_analyzer_port }}
        {%- endif -%}
        {%- if not loop.last -%},{%- endif -%}
      {%- endfor %}
  tags:
    - config
    - iptables
    - tests

- include_tasks: binary.yml
  when: skydive_deployment_mode == "binary"

- include_tasks: package.yml
  when: skydive_deployment_mode == "package"

- include_tasks: config.yml
  tags:
    - config