[skydive:children]
analyzers
agents

[skydive:vars]
skydive_listen_ip=0.0.0.0
skydive_deployment_mode=container

[analyzers]
10.0.0.4

[agents]
10.0.0.9
10.0.0.4

[agents:vars]
skydive_extra_config={'agent.topology.probes': ['docker']}
