---
- name: Create resources
  hosts: localhost
  tasks:
  - include: openstack.yml
    when: os_username is defined

- name: Install Python 2.x
  hosts: jenkins_master, slaves
  become: true
  tasks:
  - package:
      name: python
      state: present
  - set_fact: ansible_python_interpreter="/usr/bin/python"

- name: Deploy Jenkins master
  hosts: jenkins_master
  become: true
  roles:
    - role: geerlingguy.jenkins
      when: deploy_master is defined
      java_packages:
        - java-1.8.0-openjdk
      jenkins_admin_password: "{{ jenkins_admin_password | default('admin', true) }}"
      jenkins_plugins:
        - github
        - git
        - monitoring
        - embeddable-build-status
        - postbuild-task
        - openstack-cloud
        - ghprb
        - cobertura
        - greenballs
        - chucknorris
        - ansicolor
        - credentials-binding

- name: Install requirements
  hosts: slaves
  become: yes
  tasks:
  - package:
      name: "{{ item }}"
      state: present
    with_items:
       - unzip
       - wget
       - https://www.rdoproject.org/repos/rdo-release.rpm
  - shell: |
      cd /tmp
      wget https://github.com/google/protobuf/releases/download/v3.1.0/protoc-3.1.0-linux-x86_64.zip
      unzip protoc-3.1.0-linux-x86_64.zip
      chmod +x bin/protoc
      mv bin/protoc /usr/bin/
  - package:
      name: "{{ item }}"
      state: present
    with_items:
       - http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-25.noarch.rpm
       - git
       - wget
       - unzip
       - gcc
       - make
       - openvswitch
       - docker
       - libpcap-devel
       - etcd
       - libxml2-devel
       - jq
       - screen
       - libselinux-python
       - bridge-utils
       - perl-Graph-Easy
       - java
       - ffmpeg
       - gifsicle
       - iperf
       - rpm-build
       - rpmlint
       - golang
       - vagrant-libvirt
       - ansible
       - numactl-devel
       - kernel-devel
       - python3-virtualenv
       - llvm-devel
       - clang-devel
       - elfutils-libelf-devel
       - kubernetes-client
  - copy:
      content: |
        jenkins ALL=(root) NOPASSWD:ALL
        Defaults:jenkins secure_path=/sbin:/usr/sbin:/usr/bin:/bin:/usr/local/sbin:/usr/local/bin
        Defaults:jenkins !requiretty
      mode: 0440
      dest: /etc/sudoers.d/jenkins
      owner: root
      group: root
  - service:
      name: "{{ item }}"
      state: started
      enabled: true
    with_items:
      - etcd
      - openvswitch
      - docker
  - selinux:
      policy: targeted
      state: permissive
  - lineinfile:
      dest: /etc/hosts
      line: "{{ hostvars['jenkins_master']['private_ip'] }} {{ jenkins_public_hostname }}"
      state: present

- name: Install orientdb and elasticsearch
  hosts: slaves
  become: yes
  roles:
   - role: orientdb
   - role: elasticsearch

- name: Register Jenkins slaves
  hosts: jenkins_master
  tasks:
  - uri:
      url: http://localhost:8080/scriptText
      method: POST
      user: admin
      password: "{{ jenkins_admin_password | default('admin' )}}"
      body: |
        script=import jenkins.model.*
        import hudson.model.*
        import hudson.slaves.*

        Jenkins.instance.setSlaveAgentPort(39553)

        Jenkins.instance.addNode(
          new DumbSlave(
            "{{ item }}",
            "",
            "/var/lib/jenkins",
            "1",
            Node.Mode.NORMAL,
            "slaves",
            new JNLPLauncher(),
            new RetentionStrategy.Always(),
            new LinkedList()))
      force_basic_auth: yes
    with_items: "{{ groups.slaves }}"

  - uri:
      url: http://localhost:8080/scriptText
      method: GET
      user: admin
      password: "{{ jenkins_admin_password | default('admin' )}}"
      body: |
        script=
        for (aSlave in hudson.model.Hudson.instance.slaves) {
            println aSlave.getComputer().getJnlpMac()
        }
      force_basic_auth: yes

- name: Get JNLP slave secrets
  hosts: jenkins_master
  tasks:
  - shell: curl --user "admin:{{ jenkins_admin_password | default('admin') }}" -d "script=for (aSlave in hudson.model.Hudson.instance.slaves) { println aSlave.getComputer().getJnlpMac() }" http://localhost:8080/scriptText
    register: slave_secrets
  - set_fact: slave_secrets="{{ slave_secrets.stdout_lines }}"

- name: Start Jenkins slaves
  hosts: slaves
  become: true
  tasks:
  - group:
      name: jenkins
      state: present
  - group:
      name: docker
      state: present
  - user:
      name: jenkins
      group: jenkins
      groups: jenkins,libvirt,docker
      home: /var/lib/jenkins
  - get_url:
      url: "http://{{ hostvars['jenkins_master']['private_ip'] }}:8080/jnlpJars/slave.jar"
      dest: /var/lib/jenkins/slave.jar
  - package:
      name: java
      state: present
  - copy:
      content: |
        [Unit]
        Description=Jenkins Slave
        Wants=network.target
        After=network.target

        [Service]
        ExecStart=/usr/bin/java -jar /var/lib/jenkins/slave.jar -jnlpUrl http://{{ hostvars['jenkins_master']['private_ip'] }}:8080/computer/{{ inventory_hostname_short }}/slave-agent.jnlp -secret {{ hostvars['jenkins_master']['slave_secrets'][play_hosts.index(inventory_hostname)] }}
        User=jenkins
        Restart=always
      mode: 0644
      dest: /etc/systemd/system/jenkins-slave.service
      owner: root
      group: root
    with_items: "{{ hostvars['jenkins_master']['slave_secrets'] }}"
  - shell: systemctl daemon-reload
  - service:
      name: jenkins-slave
      state: started
      enabled: yes
  - service:
      name: firewalld
      state: stopped
      enabled: no

- name: Jenkins master post configuration
  hosts: jenkins_master
  become: true
  roles:
  - role: jenkins_master
    when: deploy_master is defined
    jenkins_url: "http://{{ jenkins_public_ip }}:8080"
    jenkins_admin_password: jenkins_admin_password | default('admin')
    cloud: cloud | default(None)
    os_username: os_username | default(None, True)
    os_password: os_password | default(None, True)
    os_tenant_name: os_tenant_name | default(None, True)
    os_image: "{{ image }}"
    os_flavor: "{{ hostvars['localhost']['os_flavor'] }}"
    os_network: "{{ hostvars['localhost']['os_network'] }}"
    os_floating_ip_pool: os_floating_ip_pool | default('public')
    os_keypair: os_keypair | default(None, True)
    github_secret: github_secret | default(None, True)
