localhost

[jenkins_master]
jenkins_master ansible_ssh_user=root ansible_ssh_host=123.123.123.31 public_ip=123.123.123.31 private_ip=123.123.123.31 groups=masters

[slaves]
jenkins_slave-1 ansible_ssh_host=123.123.123.139 ansible_ssh_user=fedora public_ip=123.123.123.139 private_ip=192.168.0.11 groups=slaves
jenkins_slave-2 ansible_ssh_host=123.123.123.150 ansible_ssh_user=fedora public_ip=123.123.123.150 private_ip=192.168.0.12 groups=slaves
